<h3>Add your new restaurant review!</h3>

<%= form_for @review do |field| %>
    <p>
        <%= field.label :title %>
        <%= field.text_field :title %>
    </p>
    <p>
        <%= field.label :body %>
        <%= field.text_area :body %>
    </p>
    <p>
        <%= field.label :score %>
        <%= field.number_field :score %>
    </p>
    <p>
        <%= field.label :restaurant %>
        <%= field.text_field :restaurant %>
    </p>
    <p>
        <%= field.label :location %>
        <%= field.text_field :location %>
    </p>
    <p>
        <%= field.label :price %>
        <%= field.text_field :price %>
    </p>
    <p>
        <%= field.label :cuisine %>
        <%= field.text_field :cuisine %>
    </p>

    <%= field.submit 'Save review'%>
<% end %>