<h1>
    <%= @review.title %>
</h1>

<div class="cuisine">
    <%= @review.cuisine %>
</div>

<div class="location">
    <%= @review.location %>
</div>

<div class="user">
    Submitted by
</div>

<div class="score">
    <%= @review.score  %> / 10.0
</div>

<div class="price">
    <%= @review.price %>
</div>

<div class="review-body">
    <%= simple_format @review.body %>
</div>

<div class="actions">
    <%= link_to "Edit this review", edit_review_path(@review) %>

    <%= link_to "Delete this review", review_path(@review), method: :delete, data: {confirm: "Are you sure?"}%>

</div>